<div id="posts">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> posts-wrapper"><%= message %></div>
  <% end %>
  <% flash.clear %>
  <%= render 'foods' %>
</div>
<div class="index-pagi text-center">
  <%= will_paginate @foods %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    if ($('.pagination').length) {
      $(window).scroll(function() {
        var url = $('.pagination .next_page').attr('href');
        if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
          $('.pagination').html('<img src="http://baobinhphuoc.com.vn/Content/imgs/loading.gif" alt="Loading..." title="Loading..." />')
          return $.getScript(url);
        }
      });
      return $(window).scroll();
    }
  });
</script>
