<div id="posts">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> posts-wrapper"><%= message %></div>
  <% end %>
  <% flash.clear %>
  <%= render 'foods' %>
</div>
<div class="text-center" id="paginator">
  <%#= link_to_next_page @foods, 'LOAD MORE', remote: true, id: 'load_more' %>
</div>
