@import "bootstrap-sprockets";
@import "bootstrap";
@import "reg";
@import "fileinput";
@import "form/form-register";
@import "form/form-login";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  max-width: 640px;
  margin: 0 auto;
}

/* ## POST CUSTOMISATIONS ## */

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 20px;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    color: #125688;
    font-size: 15px;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment-icon {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

/* ## Wrapper and styling for the new, edit & devise views ## */

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('regbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('loginbg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

#image-preview {
  margin: 0 auto;
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}


#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}

.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  padding: 1em;
  margin: 0px auto;
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
  color: #4b4f54;
}

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

// NOTIFICATIONS

.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}

.notification-index-list {
  margin-top: 5em;
  list-style: none;
  li {
    margin-top: 1em;
    background-color: white;
    padding: 1em;
  }
}

.main-update{
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  margin: 60px auto 0;
  max-width: 935px;
  overflow: hidden;
  width: 100%;
}

.main-update .sidebar-update{
  width: 25%;
  list-style: none;
  float: left;
}

.main-update .sidebar-update li a{
  font-weight: 600;
  display: block;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  padding: 16px 16px 16px 30px;
  color: #262626;
  text-decoration: none;
  border-left: 2px solid transparent;
}

.main-update .sidebar-update .active{
  border-left-color: #262626;
}

.main-update .sidebar-update .inactive:hover{
  background-color: #fafafa;
  border-left-color: #dbdbdb;
}

.main-update .content-update {
  width: 73%;
  float: left;
  border-left: 1px solid #dbdbdb;
  padding: 30px 0;
}

.person-info{
  margin-bottom: 16px;
}

.person-info .col-md-3{
  padding-right: 32px;
  padding-left: 32px;
  text-align: right;
  color: #262626;
}

.person-info .col-md-3 label{
  text-align: right;
}

.person-info .col-md-9{
  padding-right: 100px;
}

.person-info .col-md-9 input{
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #262626;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  text-align: left;
  display: block;
}

.person-info .change-pass input{
  width: 70%;
}

.img-ava-mini{
  height: 50px;
  border-radius: 50%;
  text-align: right;
  margin-top: 10px;
}

.per-ava{
  margin-bottom: 50px;
}

.per-ava .change-pass h2{
  text-align: left;
}

.update-btn{
  display: block;
  margin-left: -8px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
  width: 250px;
}
.col-md-9 .file-input {
  display: table-cell;
  max-width: 250px;
}

.field_with_errors input {
  border: 1px solid #dd4b39!important;
}
.help-block-error {
  color: #dd4b39 !important;
  text-align: left!important;
}

.alert-alert{
  color: #dd4b39 !important;
}

.container-food-upload{
  text-align: start!important;
}

.container-food-upload .form-food{
  border-radius: 2px;
  box-shadow: none;
  border-color: #d2d6de;
  text-align: start!important;
}

.container-food-upload label{
  text-align: start!important;
}

.file-preview .fileinput-remove, .file-upload-indicator, .kv-file-remove, .glyphicon-menu-hamburger{
  display: none;
}

.form-group .kv-file-content img{
  width: 100%;
}

.comment_field{
  background: 0 0;
  border: none;
  color: #262626;
  font-size: inherit;
  outline: none;
  padding: 0;
  width: 100%;
}


.dn-cmt-form{
  height: 45px;
  color: #999;
}

.comment-input-form{
  padding-top: 3%;
}

.dn-cmt{
  position: relative;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

.dn-cmt:last-child {
  border-bottom: none;
}

.glyphicon-pencil{
  position: absolute;
  right: 0;
  top: 0;
}

.content-action{
  width: 70px;
  height: 50px;
  position: absolute;
  right: -6px;
  top: 22px;
  border: 1px solid rgba(0, 0, 0, .15);
  z-index: 2;
  display: none;
}

.open .content-action{
  display: block;
}

.content-action::before{
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: #fff;
  top: -8px;
  left: 50%;
  transform: rotate(45deg);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.content-action ul li{
  list-style: none;
  padding-top: 3px;
  text-align: center;
}

.content-action ul li a{
  color: #1d2129;
}

.glyphicon-pencil{
  cursor: pointer;
}

.show-follow-form{
  display: inline-block;
  margin-left: 50px;
}

.sub-follow{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  margin-bottom: 10px;
}

.sub-unfollow{
  background: 0 0;
  border-color: #dbdbdb;
  color: #262626;
  margin-bottom: 10px;
}

.stats{
  font-size: 16px;
  margin-top: 10px;
  a{
    margin-left: 20px;
    color: #262626;
    text-decoration: none;
  }
}

.portfolio-grids {
    margin-top: 2em;
}
.grid {
  position: relative;
  overflow:hidden;
  background: #000;
  min-height: 250px;
  max-height: 250px;
}
.grid img {
  opacity: 0.8;
}
.grid .figcaption {
    padding: 2em 2.5em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid .figcaption::before,
.grid .figcaption::after {
  pointer-events: none;
}

.grid .figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */

.grid img {
  max-width: none;
  width: 100%;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  -moz-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -o-transform: translate3d(-10px,0,0);
  -ms-transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.grid:hover img {
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.grid .figcaption {
  text-align: left;
}
.grid h3 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
  -moz-opacity: 0;
    opacity: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
}
.grid h3 span {
    font-weight: 800;
    margin-left: 5px;
}
.grid h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
}
.grid:hover h3::after {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.grid:hover h3 {
  -moz-opacity:1;
  opacity:1;
}
.grid p {
    padding: 1em 0 0;
  -moz-opacity:1;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  -o-transform: translate3d(100%,0,0);
  -ms-transform: translate3d(100%,0,0);
    color: #fff;
    letter-spacing: 2px;
}
.grid:hover p {
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#swipebox-slider .slide {
  height: 80%!important;
}

#swipebox-top-bar{
  top: 93%!important;
  a {
  color: #fff;
  text-decoration: none;
  }
}

.food-action{
  position: relative;
  float: right;
  margin-left: 30px;
  .pencil-food{
    position: relative!important;
  }
}

.content-action{
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.field_with_errors{
  display: inline-block;
}

.container-fluid .field_with_errors{
  display: block;
}

.fa-5{
  font-size: 22px;
}

.navbar-container{
  max-width: 900px;
}

.caption-content{
  margin: 20px 0;
  ul li{
    list-style: none;
  }
}

.ui-autocomplete{
  max-width: 300px;
  margin-top: 55px;
  position: relative;
  background: #fff;
  font-size: 13.5px;
  padding: 6.75px 0;
  border-color: #fff;
  box-shadow: 0 0.1em 0.2em rgba(187,187,187,0.64);
  line-height: 1.2;
  max-height: 270px;
  overflow: hidden;
  overflow-y: auto;
}

.ui-autocomplete .ui-menu-item{
  display: block!important;
  border-bottom: solid 1px #dbdbdb;
}

.ui-state-active{
  border: none!important;
  background: none!important;
  color: #999!important;
}

.ui-autocomplete::before{
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: #fff;
  top: -8px;
  left: 28%;
  transform: rotate(45deg);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.ui-autocomplete a:hover{
  text-decoration: none;
}


.search-form{
  margin-right: 110px;
  margin-top: 9px;
  min-width: 250px;
}

#tags{
  width: 98%;
  max-width: 30em;
  font-size: 1em;
  padding: 5.5px 19.5px;
  background: #fff;
  border: solid 1px #dbdbdb;
  border-radius: 2em;
  box-shadow: 0 0 5px rgba(13, 7, 8, 0.12);
}

#tags:focus{
  outline: none;
}

.post-bottom a:hover{
  text-decoration: none!important;
}

.glyphicon-heart, glyphicon-heart-empty{
  font-size: 20px!important;
}

.glyphicon-heart:hover{
  color: red!important;
}

.modal-body ul li{
  list-style: none;
  border-bottom: solid 1px #efefef;
  padding: 8px 16px;
}

.modal-show-follow{
  float: right;
  margin-top: 7px;
}

.suggest{
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.suggest-header{
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.suggest-body ul li{
  list-style: none;
  border-bottom: solid 1px #efefef;
  padding: 8px 16px;
}

.language a{
    margin-left: 5px
}

.language img{
    width: 22px;
    height: 20px;
    vertical-align: middle;
    max-width: 100%;
}

li .language {
  margin-top: 15px;
}

.pagination a, .current{
  display: none;
}
